[Desktop Entry]
Encoding=UTF-8
Name=Link to vscode-remote://ssh-remote%2B104.248.2.81/root/script/useradd.sh
Type=Link
URL=vscode-remote://ssh-remote%2B104.248.2.81/root/script/useradd.sh
Icon=text-html
